body {
  background-image: url("../images/finalback.jpg");
  font-size: 17px; /* convert to em  */
  font-family: "Exo", Times, serif;

}
#myDog {  /* blalala */
  display: block;
  margin:auto;
  padding-top: 5px;
  border-radius: 25%;
}
.index_list { /* blalala */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3f51b5;
}

 .index_1{ /* blalala */
    float: left;
    border-right:1px solid #bbb;
}

.index_1 a { /* blalala */
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.index_1 a:hover { /* blalala */
    background-color: #303f9f;
}
.name { /* blalala */
  font-family: 'Lobster', serif;
  font-size: 52px; /* convert to em */
  text-align:center;

}

#unordered_lists {display:table;} /* blalala */
.table-row {display:table-row; }
.table-cell{display:table-cell;}

#courses_text { /* blalala */
  text-align: center;
  text-decoration: underline;
  font-size: 40px; /* convert to em
    */
}

.img_right {
    position: absolute;
    right: 15%;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

.img_left {
  position: absolute;
  left: 15%;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

#footer_text {
  font-family: 'Pacifico', serif;
  font-size: 20px; /* convert to em  */
  text-align: center;
}
#dogpawlogo {
    position: absolute;
    top:1%;
    }
